@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html,body{
  height:100%;
  width:100%;
  font-family: 'Poppins', sans-serif;
  color:#222;

}
/*body{
  background-image: url("clean-vintage-light-blue-paper-background.jpg");
}*/
.navbar a{
  /*padding-right: 78%;*/
  color: black;
  font-family: 'Yatra One', cursive;
  font-size: 35px;
}
.sliders{
  width: 1366px;
  height: 615px;
}
.carousel-caption{
  position: absolute;
  top:70%;
  transform: translateY(-50%);
  text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3{
  font-size: 400%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}
nav a{
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: black;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}
nav a:hover{
  color:#96EAEE;
}
nav.black  a{
      color:white;
      background: rgba(0,0,0,0.5);
}
nav.black a:hover{
  color:#96EAEE;
}
nav a{
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
.social a
{
  font-size: 4.5em;
  padding: 5rem;

}
.fa-facebook
{
  color:#3b5998;

}
.fa-twitter
{
  color:#00aced;
}
.fa-google-plus-g
{
  color:#dd4b39;
}
.fa-instagram
{
  color:#517fa4;
}
.fa-youtube{
  color:#bb0000;
}
